jupyter-book
matplotlib
numpy
scipy
pandas
xarray
netcdf4
pygmt==0.4.*
gmt==6.2.*
pyproj
pykdtree
numba
pooch>=1.5.0,<2.0.0
verde>=1.6.0,<2.0.0
boule==0.3.*
harmonica==0.3.*
ensaio>=0.2.0
dask!=2021.03.0
cartopy
